<h4>Application form</h4>
<form action="/job/{{job['id']}}/apply" method="post">
  <div class="mb-3">
    <label>Full Name </label><br>
    <input type="text" required name="full_name" placeholder="Enter your Name">
  </div>
  <div class="mb-3">
    <label>Email</label><br>
    <input type="email" required name="email" placeholder="Enter your Email">
  </div>
  <div class="mb-3">
    <label>LinkedIn URL</label><br>
    <input type="url" name="linkedin_url" placeholder="Enter your LinkedIn URL">
  </div>
  <div class="mb-3">
    <label>Education</label><br>
    <textarea name="education"></textarea>
  </div>
  <div class="mb-3">
    <label>Work Experience</label><br>
    <textarea name="work_experience"></textarea>
  </div>
  <div class="mb-3">
    <label>Resume URL</label><br>
    <input type="url" name="resume_url">
  </div>
  <input type="submit">
</form>